<li>
  <a
    href="https://www.imdb.com/title/{imdb_id}/"
    target="_blank"
    class="show-item"
  >
    <div class="show-content">
      <span class="show-number">{order}</span>
      <img src="{tmdb_poster_url}" alt="{tmdb_title}" class="show-thumbnail" />
      <div class="show-info">
        <div class="show-title">
          <span class="show-name">{tmdb_title}</span>
          <span class="imdb-rating">IMDb {average_rating}</span>
        </div>
        <div class="show-details">
          <div class="show-detail">
            <span class="detail-label">Genres:</span> {genres}
          </div>
          <div class="show-detail">
            <span class="detail-label">Views:</span> {count}
          </div>
          <div class="show-detail">
            <span class="detail-label">Fav Day:</span> {fav_day}
          </div>
        </div>
      </div>
    </div>
  </a>
</li>
